%h2= "Login"

= form_for(:session, url: login_path) do |f|
  = f.label :email    
  = f.email_field :email, required: true
  = f.label :password      
  = f.password_field :password, required: true
  = f.submit "Login"