- if @game.game_status == 0
  - if ((@game.player_number == true && current_user.id == @game.user_id) || @game.player_number == false && current_user.id == @game.opponent)
    %table
      - (0..2).each do |i|
        %tr
          - (0..2).each do |j|
            %td
              - if @game.initial_grid.numbers[3 * i + j] == "_"
                = link_to change_path(:number => 3 * i + j, :id => @game.id), method: :post do
                  = @game.initial_grid.numbers[3 * i + j]
              - else
                = @game.initial_grid.numbers[3 * i + j]
  - else
    %p= "Please wait for your turn and then refresh the page"
- else
  %p= "Game already finished, gameplay is no longer allowed"
  = link_to "Result", game_path(@game)


