#home

  %p= "To start or join a game, please login."
  
  #new_game
    = link_to "New Game", games_path, method: :post

  #games
    %p= "List of Games"
    - @games.each do |game|
      #game
        - if logged_in?
          - if game.user_id != current_user.id && game.game_status == 0
            = game.id
            = link_to "Join Game", join_path(:id => game.id), method: :post
        - else
          = game.id
          = link_to "View Game", game_path(game)