- if @game.game_status == 0
  %p= "Game is still in action"
- elsif @game.game_status == 1
  %p= "Player #{@game.player_number ? "X" : "O"} won the game"
- else
  %p= "Game was a draw"

%table
  - (0..2).each do |i|
    %tr
      - (0..2).each do |j|
        %td
          = @game.initial_grid.numbers[3 * i + j]
