#header
  = link_to "Home", root_path
  - if logged_in?
    = link_to "Profile", current_user
    = link_to 'Logout', logout_path,  method: :delete
  - else
    = link_to "Login", login_path
    = link_to "Signup", new_user_path