!!!
%html
  %head
    %title Tictactoe
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    - flash.each do |message_type, message|
      = message
    = yield
    = debug(params) if Rails.env.development?
